.your{
    width:  100% ;
    margin: 0 auto;
    min-height: 100vh;
   
    //overflow: visible;
    background-image: linear-gradient(
       to right,  
         rgba(167, 232, 189, 0.6),
         rgba(167, 232, 189, 0.6),
       ),
     url("../img/recipe-hero.jpg");
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
    // object-fit: fill;
     display: flex;
  //align-items: center;
  //padding-bottom: 40px;
     justify-content: space-evenly;
  
      &__holder{
          width: 1100px;
          margin: 0 auto;
         // background-color: red;
         
         // height: 200px;
        //   position: relative;
        //   top: 250px;
        margin-top: 200px;
          h1{
              margin-bottom: 40px;
              font-weight: 100;
              font-family: Caveat;
              font-style: bold;
              font-size: 25px;
          }
  
         
  
              #your-flex{
                margin: 0 auto;
                //display: flex;
                align-items: center;
                display: flex;
                justify-content: space-between;
                width: 100%;
                //background-color: green;
                flex-wrap: wrap;
                flex-direction: row;
                
                .flex{
                    

  
                  .recipe{
                      width: 524px;
                      height: 263px;
                     // background-color: rebeccapurple;
                      margin-bottom: 50px ;
                    //  margin-left: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
  
                    &__image{
                        width: 300px;
                        height: 263px;
                        //background-color: royalblue   ;
                        border-radius: 30px;
                        display: flex;
                        align-items: center;
                        justify-content: space-evenly;
                        

                       
  
                    }

                    .button{
                        text-align: center;
                        background-color: $yellow;
                        width: 127px;
                        height: 52px;
                        border-radius: 40px 40px;
                        line-height: 50px;
                        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;   
                        //display: none;
                        margin: 0 auto;
                        font-family: Caveat;
                        font-size: 20px;
                        
                        position: relative;
                    }
  
                    &__info{
                        width: 224px;
                        height: 263px;
                        background-color: white;
                        border-radius: 30px;
                       .name{
                           margin: 0 auto;
                           width: 130px;
                          text-align: center;
                          margin-top: 42px;
                          font-family: Lato-Black;
                          font-size: 15px;
                          border-bottom: solid black 3px;
                       }
                       .description{
                          margin: 0 auto;
  
                          width: 138px;
                          text-align: left;
                          font-family: lato;
                          font-size: 9px;
                          padding-top: 20px;
                          padding-left: 10px;
  
                       }
  
                       .prep{
                           margin: 0 auto;
                           width: 87px;
                           display: flex;
                           align-items: center;
                           justify-content: space-between;
                           flex-direction: column;
                           font-family: lato;
                           font-size: 10px;
                           img{
                               width: 23px;
                               height: 21px;
                           }
  
                           .time{
                                display: flex;
                               align-items: center;
                               justify-content: space-between;
                               padding-top:20px ;
                           }
                           .servings{
                              display: flex;
                             align-items: center;
                             justify-content: space-between;
                             padding-top: 17px;
                         }
                           
                       }
  
  
  
  
                    }
  
                  }
                  .button-holder{
                    //background-color: red;
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    width: 300px;
                
                    //position: absolute;
                    //: relative;
                   // right: 500px;

                    .button{
                      text-align: center;
                      background-color: $yellow;
                      width: 127px;
                      height: 52px;
                      border-radius: 40px 40px;
                      line-height: 50px;
                      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;   
                      //display: none;
                      margin: 0 auto;
                      font-family: Caveat;
                      font-size: 20px;
                      margin-top: -50px;
                      margin-bottom: 20px;
                      
                    //   position: absolute;
                    //   bottom: 10px;


                      #edit{
                          //left :50px;
                          
                      }

                      #delete{

                      }
                      

                    }

                }
                  
                  }
              
  
              }
              
  
  
          
  
  
      }
  
  }
  
  @media screen and (max-width: 1050px) {
  
      .your{
           //height: 180vh;
           &__holder{
            margin-bottom: 100px ;
        }
          #your-flex{
              flex-direction: column;
              //width: 300px;
   
          }
      }
  }
  
  @media screen and (max-width: 600px) {
      .your{
         // height: 220vh;

         &__holder{
            margin-bottom: 100px ;
        }
  
          #your-flex{
          flex-direction: column;
          width: 300px;
                .flex{
          .recipe{
              width: 300px;
              flex-direction: column;
  
              &__image{
                  height: 150px;
                  width: 300px;
                  border-radius: 15px;
  
              }
  
              &__info{
                  height: 170px;
                  width: 300px;
                  border-radius: 15px;
  
  
                  .name{
                      margin-top: 8px;
                      padding-bottom: 15px;
                      font-size: 10px;
                      border-bottom: solid black 2px;
                      //background-color: antiquewhite;
                      height: 10px;
  
                  }
  
                  .description{
                      padding-top: 5px;
                      font-size: 8px;
  
                  }
  
                  .prep{
                      padding-top: none;
                      padding-top: none;
                      padding-bottom: 15px;
  
                      .time{
                          padding-top: 15px;
                      }
                      .servings{
                          padding-top: 10px;
                      }
  
                  }
  
              }
          }
        }
      }
  
  }
  }
  